<div>
    <div class="options">
        <section class="filterContainer">
            <button aria-label="Current Filter">
                Filter by: <span>{{filter}}</span>
            </button>
            <button aria-label="Clear Filters" 
                (click)="handleClear()">
                Clear Filter
            </button>
        </section>
        <section class="displayContainer">
            <p>Display options:</p>
            <button [class.active]="active" aria-label='Display grids' (click)="handleLayoutSwitch()">
                <img src="/icons/Grid.svg" />
            </button>
            <button [class.active]="!active" aria-label='Display rows' (click)="handleLayoutSwitch()">
                <img src="/icons/List.svg" />
            </button>
        </section>
    </div>
    <div [class.gridContainer]="active" [class.rowContainer]="!active">
        @for (game of gameList; track game.name){
            <app-game [game]="game" [row]="!active"/>
        }
    </div>
</div>